@use '@phosphor-icons/web/regular';
@use '@phosphor-icons/web/bold';
@import 'tailwindcss';

html {
  font-size: 10px;
  background-color: #1e0039;
}

body {
  width: 700px;
  height: 500px;
  background-color: #1e0039;
}

* {
  scrollbar-color: #6366f1 transparent;
}
