<div
  class="bg-gray-500/60 flex flex-row items-center gap-4 px-6 py-2 rounded-xl my-4 cursor-pointer hover:bg-gray-500/50"
  [ngClass]="{
'opacity-50': excluded(),
}">
  
  <div class="flex flex-row gap-6 items-center overflow-hidden">
    @if (!excluded()) {
      <i class="ph-bold ph-check text-indigo-400 text-2xl"></i>
    } @else {
      <i class="ph-bold ph-x text-indigo-400 text-2xl"></i>
    }
    <img [src]="tab().favIconUrl" class="h-8 w-8">
    <div>
      <div class="text-2xl font-semibold text-white whitespace-nowrap">{{ tab().title }}</div>
      <div class="text-xl w-full text-gray-300 whitespace-nowrap">{{ tab().url }}</div>
    </div>
  </div>
</div>
