<div class="h-full w-full flex flex-col justify-between items-center gap-8 p-4">
  <div class="flex flex-col items-center gap-4 justify-center">
    <div class="p-4 rounded-full bg-indigo-500/20 border-2 border-slate-500/10 w-max-content">
      <i class="ph-bold ph-upload text-6xl text-indigo-400"></i>
    </div>
    <h1 class="text-white font-semibold text-4xl text-center">Your export code</h1>
    <h2 class="text-slate-500 text-xl text-center">Copy this code to import your tabs on another device</h2>
  </div>

  <div class="w-full">
    <app-card (click)="copyToClipboard()">
      <div class="relative flex flex-col justify-center items-center py-8">
        <span class="text-indigo-500 font-semibold text-8xl tracking-widest py-8">{{ $exportCode() }}</span>
      </div>
    </app-card>
  </div>

  <div class="flex justify-between mt-6 w-full">
    <div class="w-64">
      <app-button size="md" [variant]="'tertiary'" prefixIcon="ph-caret-left" (click)="backToTabs()"
        >Back to tabs
      </app-button>
    </div>
    <div class="w-64">
      <app-button size="md" suffixIcon="ph-copy" (click)="copyToClipboard()">Copy Code</app-button>
    </div>
  </div>
</div>
