@import "tailwindcss";
@import "@phosphor-icons/web/light";
@import "@phosphor-icons/web/regular";
@import "@phosphor-icons/web/bold";

html {
  font-size: 10px;
  background-color: black;
}

body {
  width: 700px;
  height: 500px;
  background-color: black;
}

* {
  scrollbar-color: #878787 transparent;
}
